html {
    font-size: 14px;
    scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary-custom {
    background-color: #ffd358 !important;
    color: #002a45 !important;
    border: none;
}

.btn-primary-custom:hover {
    background-color: #ffb915 !important;
    color: #002a45 !important;
}

.bg-primary-custom {
    background-color: #002a45 !important;
}

.text-accent {
    color: #ffd358 !important;
}

.nav-link:hover {
    color: #ffd358 !important;
}

.hero-overlay {
    background: linear-gradient(to bottom, rgba(1, 27, 47, 0.8), rgba(1, 27, 47, 0.9));
}

#home {
    height: 100vh;
    background-image: url('../images/hero-pic-2.jpg');
    background-size: cover;
    background-position: center;
}

.text-right {
    text-align: right;
}