<section id="home" class="position-relative">
    <div class="hero-overlay position-absolute w-100 h-100 d-flex align-items-center justify-content-lg-center justify-content-sm-end">
        <div class="text-lg-center text-sm-end text-white px-4">
            <h2 class="display-4 fw-bold mb-4">Explore The World</h2>
            <p class="fs-5 mb-4">Plan your dream vacation with us.</p>
            <a href="#vacation-packages" class="btn btn-primary-custom px-4 py-2">Explore Packages</a>
        </div>
    </div>
</section>