@model TravelExpertMVC.Models.HomeViewModel

@{
    ViewData["Title"] = "Home";
}
<div >
    <partial name="_HomeSection"/>
    <partial name="_PackagesSection" model="@Model.Packages"/>
    <partial name="_ContactSection" model="@Model.Agencies"/>
</div>