@{
    ViewData["Title"] = "Home";
}
<div class="text-center my-5">
    <h1 class="display-4">Welcome to Travel Experts</h1>
    <p class="lead">Find your dream vacation with us!</p>
    <a href="/Packages" class="btn btn-primary btn-lg">Explore Packages</a>
</div>