@using Microsoft.AspNetCore.Identity
@inject SignInManager<TravelExpertData.Models.User> SignInManager
@inject UserManager<TravelExpertData.Models.User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity!.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Customer" asp-controller="Dashboard" asp-action="Index">
                        My Account
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary-custom ms-3" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>