@using Microsoft.AspNetCore.Identity
@inject SignInManager<TravelExpertData.Models.User> SignInManager
@inject UserManager<TravelExpertData.Models.User> UserManager

@{  
  
  
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="text-white me-2">@User.Identity!.Name</span>
                <img src="@ViewBag.Image" alt="User Image" class="img-fluid rounded-circle" style="width: 40px; height: 40px;" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                    <a class="dropdown-item" asp-area="Customer" asp-controller="Home" asp-action="Index">
                        My Account
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Packages" asp-action="Payment">
                        My Cart
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="btn btn-primary-custom ms-3" asp-controller="Account" asp-action="Login">Login</a>
        </li>
    }
</ul>