@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<section class="container bg-white">
    <div class="d-flex">
        <div class="col-3 d-flex flex-column flex-shrink-0 border-end p-3">
            @* <a class="text-decoration-none " asp-area="Customer" asp-controller="Home" asp-action="Index">
                
            </a> *@
            <h2 class="text-black">My Account</h2>
            <hr class="border border-1 border-dark">
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a class="nav-link text-black @(ViewContext.RouteData.Values["controller"].ToString() == "Booking" ? "text-white active" : "")" asp-area="Customer" asp-controller="Booking" asp-action="Index">Booking</a>
                </li>
                <li>
                    <a class="nav-link text-black @(ViewContext.RouteData.Values["controller"].ToString() == "Wallet" ? "text-white active" : "")" asp-area="Customer" asp-controller="Wallet" asp-action="Index">Wallet</a>
                </li>
                <li>
                    <a class="nav-link text-black @(ViewContext.RouteData.Values["controller"].ToString() == "Profile" ? "text-white active" : "")" asp-area="Customer" asp-controller="Profile" asp-action="Index">Profile</a>
                </li>
            </ul>
        </div>
        <div class="col-9 p-5 text-black">
            @RenderBody()
        </div>
    </div>
</section>